HEADER {
background:#fdffd4;
height:50pt;
border:2px solid
}

NAV {
background:yellow;
height:35pt;
border:2px solid;
}

DIV.CONTENEDOR {
background:green;
overflow:auto;
}

ARTICLE{
background:silver;
height:150pt;
border:2px dashed;
margin-left:12%;
}

DIV.SIDEBAR {
background:lime;
width:11%;
border:2px solid;
text-align:center;
float:left
}

DIV.MENÚ {
background:grey;
width:85%;
border:2px solid; 
overflow:auto; 
text-align:center; 
float:left;
margin:0 1%;
}

DIV.PLATO {
background:orange; 
height:100pt; 
width:40%;
border:2px solid gray; 
text-align:center; 
margin: auto; 
display:inline-block
}

FOOTER{
background:black;
height:100pt;
border:2px solid;
text-align:center;
color:white;
}